body {
  font: 100% "Open Sans", sans-serif;
  color: #3b3a36; }

.text.center {
  text-align: center; }

header {
  width: 100%;
  height: 100px;
  background-color: #3b3a36;
  color: #ffffff; }
  header div {
    width: 80%;
    margin: 0 auto;
    text-align: center; }
    header div img {
      margin-top: 10px;
      margin-bottom: 10px;
      height: 80px; }

footer {
  background-color: #3b3a36;
  width: 100%;
  height: 60px;
  padding-top: 40px; }
  footer p {
    text-align: center;
    color: #ffffff;
    font: 100% "Open Sans", sans-serif; }
    footer p .love {
      color: #C62E65; }
    footer p a {
      text-decoration: none;
      color: #ffffff; }
    footer p a:hover {
      text-decoration: none; }

.contentblock__container {
  width: 100%;
  background-color: #f1f3ef; }
  .contentblock__container article {
    overflow: hidden;
    width: 92%;
    margin: 0 auto; }

.contentblock__box {
  width: 33%;
  margin-top: 40px;
  margin-bottom: 40px;
  float: left;
  color: #dec666; }
  .contentblock__box h3 {
    font-weight: bold;
    font: 150% "Poiret One", sans-serif;
    margin-bottom: 10px; }
  .contentblock__box .contentblock__box__population {
    background-color: #dec666;
    color: #ffffff;
    padding: 10px; }
    .contentblock__box .contentblock__box__population p {
      font: 200% "Poiret One", sans-serif; }
  .contentblock__box .contentblock__box__address {
    min-height: 80px;
    padding: 10px;
    width: 80%;
    margin: 0 auto; }
  .contentblock__box hr {
    border: 0;
    height: 2px;
    background: #dec666; }

.contentblock__box:first-child {
  color: #5Ab1BB; }
  .contentblock__box:first-child .contentblock__box__population {
    background-color: #5Ab1BB;
    color: #ffffff; }
  .contentblock__box:first-child hr {
    border: 0;
    height: 2px;
    background: #5Ab1BB; }

.contentblock__box:last-child {
  color: #225E65; }
  .contentblock__box:last-child .contentblock__box__population {
    background-color: #225E65;
    color: #ffffff; }
  .contentblock__box:last-child hr {
    border: 0;
    height: 2px;
    background: #225E65; }

.chart-container {
  padding-top: 40px;
  width: 80%;
  margin: 0 auto; }
  .chart-container section {
    width: 80%;
    padding: 10px;
    margin: 0 auto; }
    .chart-container section article {
      display: inline-block;
      width: 33%;
      margin: 0 auto; }
    .chart-container section span {
      width: 15px;
      height: 15px;
      display: inline-block;
      margin-right: 10px; }
    .chart-container section p {
      width: 100%;
      text-align: center;
      display: inline-block; }
  .chart-container svg {
    margin-top: 40px;
    margin-left: 25%; }

@media screen and (max-width: 1000px) and (min-width: 320px) {
  .contentblock__container article {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px; }
    .contentblock__container article .contentblock__box {
      width: 80%;
      float: none; }
      .contentblock__container article .contentblock__box div {
        margin-bottom: 40px; }
        .contentblock__container article .contentblock__box div .contentblock__box__address {
          min-height: 15px; }
  .chart-container section article {
    width: 100%;
    margin: 0 auto;
    padding: 10px; }
  .chart-container svg {
    margin-left: 0%; } }
