$font-stack:   'Open Sans', sans-serif;
$font-stack-pro:   'Poiret One', sans-serif;
$primary-color: #f1f3ef;
$dark-color: #3b3a36;
$light-color: #ffffff;
$yellow: #F7DD72;
$yellow-dark: #dec666;
$light-blue: #5Ab1BB;
$dark-blue: #225E65;
body {
  font: 100% $font-stack;
  color: $dark-color;
}
.text.center{
  text-align: center;
}

header{
  width: 100%;
  height: 100px;
  background-color: $dark-color;
  color: $light-color;
  div{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    img{
      margin-top: 10px;
      margin-bottom: 10px;
      height: 80px;
    }
  }

}

footer{
  background-color: $dark-color;
  width: 100%;
  height: 60px;
  padding-top: 40px;
  p{
    text-align: center;
    color: $light-color;
    font: 100% $font-stack;
    .love{color: #C62E65;}
    a{
      text-decoration: none;
      color: $light-color;
    }
    a:hover{
      text-decoration: none;
    }
  }

}

.contentblock__container{
  width: 100%;
  background-color: $primary-color;
  article{
    overflow: hidden;
    width: 92%;
    margin: 0 auto;
  }
}

.contentblock__box{
  width: 33%;
  margin-top: 40px;
  margin-bottom: 40px;
  float: left;
  color: $yellow-dark;
  h3{
    font-weight: bold;
    font: 150% $font-stack-pro;
    margin-bottom: 10px;
  }
  .contentblock__box__population{
    background-color: $yellow-dark;
    color: $light-color;
    padding: 10px;
    p{
      font: 200% $font-stack-pro;
    }
  }
  .contentblock__box__address{
    min-height: 60px;
    padding: 10px;
    width: 80%;
    margin: 0 auto;
  }
  hr{
    border: 0;
    height: 2px;
    background: $yellow-dark;
  }
}
.contentblock__box:first-child{
  color: $light-blue;
  .contentblock__box__population{
    background-color: $light-blue;
    color: $light-color;
  }
  hr{
    border: 0;
    height: 2px;
    background: $light-blue;
  }
}

.contentblock__box:last-child{
  color: $dark-blue;
  .contentblock__box__population{
    background-color: $dark-blue;
    color: $light-color;
  }
  hr{
    border: 0;
    height: 2px;
    background: $dark-blue;
  }
}


.chart-container{
  padding-top: 40px;
  width: 80%;
  margin: 0 auto;
  section{
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    article{
      display: inline-block;
      width: 33%;
      margin: 0 auto;
    }
    span{
      width: 15px;
      height: 15px;
      display: inline-block;
      margin-right: 10px;
    }
    p{
      width: 100%;
      text-align: center;
      display: inline-block;

    }
  }
  svg{
    margin-top: 40px;
    margin-left: 25%;
  }
}
